.text-center {
    text-align: center;
}

.text-color {
    color:white;
}

.text-upper {
    text-transform: uppercase;
}

.bg {
    background-size: cover;
    background-attachment: fixed;
}

.img {
    background-image: url("https://cdn.dribbble.com/users/13496/screenshots/1327531/analytics-app.gif");
}

.w-100 {
    width: 100%;
}

.h-500px {
    height: 600px;
}

#flexbox{
    display: flex;
    justify-content: space-around;
}

.m-60px {
    margin: 60px 0px;
}

#parent {
    padding: 60px 0px;
}

.w-200px {
    width: 200px;
}

.h-200px {
    height: 200px;
}

.p-20 {
    padding: 20px 0px 0px 0px;
}

.m-20 {
    margin: 20px 0px 0px 0px;
}

.b-solid {
    border-top: solid;
    border-color: white;
}

img{
    border-radius: 50%;
    vertical-align: middle;
    width: 200px;
    height: 200px;
  }
