<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'meta-data.html' %}
</head>
<body>
    {% include 'homepage/navigation.html'%}
    {% include 'homepage/carousel.html' %}
    {% include 'homepage/welcome.html' %}
    {% include 'homepage/choose.html' %}
    {% include 'homepage/end_web.html' %}
    {% include 'homepage/footer.html' %}
</body>
</html>