<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Warm Winter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Admin Page</h1>
    <h2>
        <a href="{{url_for('show_order')}}">Order đang đợi phê duyệt</a>
    </h2>
    <table border="1px">
        <thead>
            <th>STT</th>
            <th>Tên</th>
            <th>Năm Sinh</th>
            <th>Giới tính</th>
            <th>Chiều cao</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th></th>
        </thead>
        <tbody>
            {% for service in all_service %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.yob }}</td>
                <td>{{ "Nam" if service.gender else "Nữ" }}</td>
                <td>{{ service.height }}</td>
                <td>{{ service.phone }}</td>
                <td>{{ service.address }}</td>
                <td>{{ "Độc thân" if service.status else "Đã có gấu" }}</td>
                <td>
                    <a href="{{ url_for('update', service_id = service.id) }}">Sửa</a>
                    <a href="{{ url_for('delete', service_id = service.id) }}">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>