<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>login</h1>
    <p>Đăng nhập</p>
    <form method="POST">
      <label>Username</label>
      <br>
      <input type="text" name="username_admin" value="" required>
      <br>
      <label>Password </label>
      <br>
      <input type="password" name="password_admin" value="" required>
      <br>
      <br>
      <input type="submit">
    </form>
    <br>
    <b>Click vào <a href="{{url_for('index')}}">đây </a>để quay lại trang chủ </b>
  </body>
</html>