<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ted App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Ted App</h1>
    <a href="{{url_for('login')}}">Đăng Nhập</a>
    {% for video in videos %}
        <div>
            <img src="{{video.thumbnail}}" alt="" width="200px" height="130px">
            <p>{{video.title}}</p>
            <p>Views: {{video.views}}</p>
            <a href="{{url_for('detail', youtube_id=video.youtube_id)}}">Xem</a>
            <br>
            <br>
            <br>
        </div>
    {% endfor %}
</body>
</html>